body {
  background: linear-gradient(135deg, #181c24 0%, #23272f 100%);
  font-family: "Urbanist", sans-serif;
}

.nav-opacity {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.bg-dark, .navbar-dark{
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.container-hero {
  background: linear-gradient(135deg, #181c24 0%, #23272f 100%);
}

p {
  line-height: 1.9rem;
}

.px-10 {
  padding-left: 5rem;
  padding-right: 5rem;
}